<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      This tool should run in an elevated command prompt
      This tool relies on ProcDump so the full path should be given
      If this path is empty then the tool will ask the procdump path in runtime
    -->
    <add key="ProcDumpFullPath" value="C:\Downloads\SysInternals\ProcDump.exe"/>
    
    <!--
      Use comma seperated values for process names. E.g.:
      <add key="DotnetCoreProcessNames" value="dotnet.exe, myapp.exe, coreapp.exe"/>
      "dotnet" will be used if this is empty or the key is missing.
    -->
    <add key="DotnetCoreProcessNames" value="dotnet.exe, sample.exe, MyAspNetCoreApp.exe"/>
  
  </appSettings>
</configuration>